@model List<NCKH.Models.Employee>

@{
    ViewData["Title"] = "List User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">

            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">List Employee</h3>
                    <div class="col-auto text-end float-end ms-auto download-grp">
                        <a href="/admin/employee/CreateEmployee" class="btn btn-outline-gray me-2">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                        <a href="/admin/employee/CreateEmployee" class="btn btn-outline-gray me-2">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                        <a href="/admin/employee/CreateEmployee" class="btn btn-outline-gray me-2">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card bg-comman w-100">
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Stt</th>
                                <th class="text-center">CodeEmployee</th>
                                <th class="text-center">EmployeeName</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">PhoneNumber</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">StartDatetime</th>
                                <th class="text-center">Roles</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Id</td>
                                    <td class="text-center">@item.CodeEmployee</td>
                                    <td class="text-center">@item.EmployeeName</td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">@item.PhoneNumber</td>
                                    <td class="text-center">@item.Address</td>
                                    <td class="text-center">@item.StartDatetime?.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@item.Roles.RoleName</td>
                                    <td class="text-center">
                                        <a href="/Admin/employee/editemployee?id=@item.Id" class="btn btn-sm btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="/Admin/UserRoles/DetailUserRoles/@item.Id" class="btn btn-sm btn-info">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a href="/Admin/employee/Delete?id=@item.Id" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

